SetEnvIf Request_URI ^/rebuild.php noauth=1

AuthType Basic
AuthName "Login and password are in Basecamp"
AuthUserFile /var/www/domains/datalaboratoryru/blocks/.htpasswd

Order Deny,Allow
Satisfy any
Deny from all
Require valid-user
Allow from env=noauth